header{
  background-color: blueviolet;
  /* text-align: center; */
  display: grid;
  grid-template-rows: 1.5fr 1.5fr;
  grid-template-areas: 
  "title title"
  "myInfo account";
  /* flex:1; */
  grid-area: header;

}

.headerTitle{
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: aquamarine;
}

.myInfo{
  grid-area: myInfo;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: blanchedalmond;
}

.account{
  grid-area: account;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: burlywood;
}